
<web-app id="WebApp_ID">
	<display-name>updemo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description>
		</description>
		<servlet-name>loginServ</servlet-name>
		<display-name>loginServ</display-name>
		<servlet-class>com.servlets.loginServ</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<servlet-name>ThumbUp</servlet-name>
		<display-name>ThumbUp</display-name>
		<servlet-class>com.servlets.ThumbUp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<servlet-name>TrailUp</servlet-name>
		<display-name>TrailUp</display-name>
		<servlet-class>com.servlets.TrailUp</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<servlet-name>VideoUp</servlet-name>
		<display-name>VideoUp</display-name>
		<servlet-class>com.servlets.VideoUp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<servlet-name>videoServlet</servlet-name>
		<display-name>videoServlet</display-name>
		<servlet-class>com.servlets.videoServlet</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>subscribeServ</display-name>
		<servlet-name>subscribeServ</servlet-name>
		<servlet-class>com.servlets.subscribeServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deleteUsers</display-name>
		<servlet-name>deleteUsers</servlet-name>
		<servlet-class>com.servlets.deleteUsers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deleteSubscription</display-name>
		<servlet-name>deleteSubscription</servlet-name>
		<servlet-class>com.servlets.deleteSubscription</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deleteVideos</display-name>
		<servlet-name>deleteVideos</servlet-name>
		<servlet-class>com.servlets.deleteVideos</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>accImgUp</display-name>
		<servlet-name>accImgUp</servlet-name>
		<servlet-class>com.servlets.accImgUp</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>VideoUp</servlet-name>
		<url-pattern>/VideoUp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginServ</servlet-name>
		<url-pattern>/loginServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThumbUp</servlet-name>
		<url-pattern>/ThumbUp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrailUp</servlet-name>
		<url-pattern>/TrailUp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>videoServlet</servlet-name>
		<url-pattern>/videoServlet</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>subscribeServ</servlet-name>
		<url-pattern>/subscribeServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteUsers</servlet-name>
		<url-pattern>/deleteUsers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteSubscription</servlet-name>
		<url-pattern>/deleteSubscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteVideos</servlet-name>
		<url-pattern>/deleteVideos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>accImgUp</servlet-name>
		<url-pattern>/accImgUp</url-pattern>
	</servlet-mapping>
</web-app>